.toolbar {
  background: #434a63;
  height: 7%;
}

.toolbox {
  max-width: 50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  background: grey;
}

.toolbox > * {
  color: #434a63;
  cursor: pointer;
  /* padding-top: 10px; */
}

/* .toolbox > *:hover {
  color: green;
  text-shadow: 2px 2px 2px black;
} */
